/********************OVBERSKRIFTER FORSIDE*********************/
.o1 {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
  text-align: center;
  font-size: 4rem;
  margin-top: 100px;
  margin-bottom: 5px;
}
.o2 {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: orange;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2px;
}
/***********WEB****************/
@media (min-width: 800px) {
  .o1 {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 8.5rem;
    margin-top: 180px;
    margin-bottom: 30px;
  }
  .o2 {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: orange;
    text-align: center;
    font-size: 3rem;
  }
}
