/********************OVBERSKRIFTER FORSIDE*********************/
.o1 {
  font-family: "stolzl", sans-serif;
  font-weight: 350;
  font-style: normal;
  color: white;
  text-align: center;
  font-size: 4rem;
  margin-top: 100px;
  margin-bottom: 5px;
}
.o2 {
  font-family: "stolzl", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-top: 2px;
}
/***********WEB****************/
@media (min-width: 800px) {
  .o1 {
    font-family: "stolzl", sans-serif;
    font-weight: 350;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 7rem;
    margin-top: 200px;
    margin-bottom: 30px;
  }
  .o2 {
    font-family: "stolzl", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-top: 2px;
  }
}
