/******************GENEREL STYLE CSS*******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
  height: auto;
  margin: 10px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
@media (min-width: 800px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
/******************BAGGRUND***********************/
body {
  background-color: black;
  z-index: -1;
}
.forside_baggrund {
  background-image: url("/img/test-100.jpg");
}
.om_mig_baggrund {
  background-image: url("/img/baggrund_om_mig.png");
}
.projekter_baggrund {
  background-image: url("/img/baggrund_projekter.png");
}
.baggrund_kontakt {
  background-image: url("/img/baggrund_kontakt.png");
}
.baggrund_02 {
  background-image: url("/img/baggrund_kontakt.png");
}
.baggrund_03 {
  background-image: url("/img/baggrund_projekter.png");
}
.baggrund_04 {
  background-image: url("/img/baggrund_om_mig.png");
}
.baggrund_05 {
  background-image: url("/img/baggrund_kontakt.png");
}
.baggrund_06 {
  background-image: url("/img/baggrund_kontakt.png");
}

.forside_baggrund,
.om_mig_baggrund,
.projekter_baggrund,
.baggrund_kontakt,
.baggrund_02,
.baggrund_03,
.baggrund_04,
.baggrund_05,
.baggrund_06 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/********************LOGO******************************/
#logo {
  width: 50px;
  height: auto;
  align-self: center;
  display: inline;
  margin: 0;
  padding-top: 20px;
}
/*******************OVERSKIRFTER**************************/
h1 {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: white;
  font-size: 4rem;
  margin: 20px 7px;
  text-align: center;
}
/*WEB*/
@media (min-width: 800px) {
  h1 {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 5rem;
    text-align: center;
  }
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 2rem;
  margin: 20px 7px;
}
/*WEB*/
@media (min-width: 800px) {
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 2rem;
    margin: 20px 7px;
  }
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: orange;
  font-size: 1.3rem;
  margin: 20px 10px;
}
/*WEB*/
@media (min-width: 800px) {
  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: orange;
    font-size: 1.3rem;
    margin: 20px 10px;
  }
}
/*********************P******************************/
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 1rem;
  line-height: 1.7;
  margin: 15px 10px;
}
/*WEB*/
@media (min-width: 800px) {
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1rem;
    line-height: 1.7;
    margin: 20px 5px;
  }
}
a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 1rem;
  line-height: 1.7;
  margin: 7px 7px;
}
/*WEB*/
@media (min-width: 800px) {
  a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1rem;
    line-height: 1.7;
  }
}
/**********************FOOTER***********************/
footer {
  padding: 20px;
}
.grid_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#footer1 {
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
  color: grey;
}
#footer2 {
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
  color: grey;
}
/*********************HEADER**********************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: orange;
  text-shadow: orange 6px 6px 10px;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 5px;
}
.burger {
  display: none;
}

li a {
  text-decoration: none;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  padding: 10px 9px 10px 9px;
}
a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 120px;
    left: 0;
    width: 150%;
    z-index: 1;
    background-color: black;
  }

  nav.active .menu li {
    margin: 1px 1px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
@media (min-width: 800px) {
  header {
    top: 0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #logo {
    width: 80px;
    height: auto;
    align-self: center;
    display: inline;
    margin: 0;
    padding-top: 20px;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
    overflow-x: none;
  }
  li a {
    text-decoration: none;
    color: white;
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
  }
  a:hover {
    text-decoration: underline;
  }
}
/***************BUTTON*********************/
.knap {
  padding: 15px 30px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: orange;
  text-decoration: none;
  color: orange;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  transform: scale(1);
  transition: transform 0.3s;
}

.knap:hover {
  transform: scale(1.3);
}

.knap:hover,
.knap:focus {
  animation: none;
}

/*******************ANIMATION****************/
@keyframes zoom-out {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
.bouncing {
  animation-name: bouncing_kf;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bouncing_kf {
  from {
    translate: 0 -5%;
  }
  to {
    translate: 0 10%;
  }
}
#myImage {
  transition: transform 0.3s;
}
.zoomed {
  transform: scale(1.1);
}
