.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

/*************LAYOUT WEB*****************/
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
  }
}
a:hover {
  text-shadow: blue 6px 6px 10px;
}
a {
  text-decoration: none;
}
